:root {
  --primary-color: #497174;
  --background-color: #eff5f5;
  --accent-color: #eb6440;
}
.header {
  max-height: 400px;
  width: 100%;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
}
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
  color: var(--primary-color);
}
.hero {
  padding: 0 0 40px 0;
  background: var(--background-color);
}

#avatar {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  margin-top: -100px;
}
.showcase {
  height: 300px;
  width: 400px;
}

.showcase-grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.showcase-link {
  font-size: 18px;
  text-decoration: none;
  color: var(--accent-color);
}

.footer-link {
  font-size: 18px;
  text-decoration: none;
  color: var(--primary-color);
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: ease-in 200ms all;
}
.navigation-link:hover {
  background-color: var(--accent-color);
  color: white;
}

.footer-link:hover,
.showcase-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
i {
  font-size: 18px;
  color: var(--primary-color);
}
.about-me-content {
  padding: 40px;
  background: var(--background-color);
}

.about-me-content p {
  max-width: 600px;
  display: block;
  margin: 20px auto;
  font-size: 20px;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 28px;
  }
  h2,
  h3 {
    font-size: 20px;
  }
  h2 {
    padding: 20px;
  }

  .col-md-6 h3 {
    margin-top: 0;
  }

  #avatar {
    max-width: 100px;
    margin-top: -50px;
  }
  .showcase {
    height: 200px;
    width: 300px;
  }
  .navigation-link {
    padding: 10px 20px;
  }
}
