:root {
  --primary-color: #30475e;
  --background-color: #f5f5f5;
  --accent-color: #f05454;
}
body {
  font-family: "Karla", sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
}
h2,
h3 {
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
}
.intro {
  color: var(--background-color);
}
.header {
  margin-top: 60px;
  color: white;
}
#saana {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 60px;
}
.hero {
  padding: 40px 0;
  background-image: linear-gradient(
      rgba(48, 71, 94, 0.5),
      rgba(48, 71, 94, 0.5)
    ),
    url("/images/horizonofmarbella.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#avatar {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  margin-top: 60px;
}
.showcase {
  height: 300px;
  width: 400px;
}

.showcase-grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.showcase-link,
.contact-link {
  font-size: 18px;
  text-decoration: none;
  color: var(--accent-color);
}

.footer-link {
  font-size: 17px;
  text-decoration: none;
  color: var(--background-color);
}
.footer-link:hover {
  color: var(--accent-color);
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: ease-in 200ms all;
}

.navigation-link:hover {
  background-color: var(--accent-color);
  color: white;
}

.showcase-link:hover,
.contact-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
i {
  font-size: 18px;
  color: var(--background-color);
}
.about-me-content {
  background: var(--background-color);
  line-height: 2em;
  max-width: 1000px;
  padding: 40px;
}

.about-me-content p {
  font-size: 18px;
  text-align: justify;
}
.about-images {
  width: 300px;
  margin-top: 30px;
}
.open-source {
  font-size: 17px;
  padding-bottom: 5px;
}
footer {
  background-image: linear-gradient(
      rgba(48, 71, 94, 0.9),
      rgba(48, 71, 94, 0.9)
    ),
    url("/images/horizonofmarbella.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 28px;
    margin: 0;
  }
  h2,
  h3 {
    font-size: 20px;
  }
  h2 {
    padding: 20px;
    margin: 0;
  }
  .about-me-content {
    padding: 20px;
  }
  .about-me-content p,
  p {
    font-size: 14px;
  }

  .col-md-6 h3 {
    margin-top: 0;
  }

  #avatar {
    max-width: 100px;
    margin-top: 30px;
  }
  .showcase {
    height: 200px;
    width: 300px;
  }
  .navigation-link {
    padding: 10px 15px;
    font-size: 15px;
  }
  .open-source,
  .showcase-link {
    font-size: 15px;
  }
}
